html,
body,
.full-height {
    height: 100%;
}

form {
    height: 100%;
    overflow: hidden;
}

.about_ul {
    display: block;
    padding-left: 0;
}

.about_ul>li {
    float: left;
    list-style: none;
    margin-left: 30px;
}

.article_title {
    margin-bottom: 10px;
}

.article_content {
    height: 100%;
}

.source {
    width: 100%;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 13px;
}

.head_nav {
    margin-bottom: 10px;
}

.preview {
    padding-left: 3px;
    overflow: auto;
    border-radius: 4px;
}

.about_img {
    height: 32px;
    width: 32px;
}

.about_name {
    font-size: 16px;
}