html,
body,
.full-height {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    font-size: 18px;
}

form {
    height: 100%;
    overflow: hidden;
}

/*覆盖bootstrap的风格*/
pre {
    font-size: inherit;
    border: none;
}

.about_ul {
    display: block;
    padding-left: 0;
}

.about_ul>li {
    float: left;
    list-style: none;
    margin-left: 30px;
}

.article_title {
    margin-bottom: 10px;
}

.article_content {
    height: 100%;
}

.source {
    width: 100%;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 13px;
}

.head_nav {
    margin-bottom: 10px;
}

.preview {
    padding-left: 3px;
    overflow: auto;
    border-radius: 4px;
}

.about_img {
    height: 32px;
    width: 32px;
}

.login {
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}